<section class="module">
	
  <form ng-keyup="$event.keyCode == 13 && sendMessage()">
    <header class="top-bar">

      <div class="left">
        <span class="fa fa-comments"></span>
        <h1>{{username}}</h1>
      </div>

      <div class="right">
        <span ng-click="toggleChat()" ng-class="isOpen ? 'fa fa-minus':'fa fa-plus'"></span>
        <span ng-click="closeChat()"><i class="fa fa-close"></i></span>
      </div>

    </header>

    <ol ng-show="isOpen" class="discussion">
      <li ng-repeat="mes in messages" ng-class="mes.user == currentUser ? 'self':'other'">
        <div class="avatar">
          <img src="{{mes.avatar}}" />
        </div>
        <div class="messages">
          <p>{{mes.message}}</p>
          <span class="time">{{mes.user}} • 51 min</span>
        </div>
      </li>
    </ol>
    <input ng-show="isOpen" class="message" type="text" ng-model="message" />
  </form>
</section>